.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: bold;
    
}
.checkbox-label input {
    width: 20px;
    height: 20px;
    accent-color: black;
}


.range-container {
    position: relative;
    width: 300px;
    
}
.range-slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: purple;
    border-radius: 50%;
    cursor: pointer;
}
.range-value {
    position: absolute;
    top: 50px;
    background: #f3e8ff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #3d007a;
    font-size: 14px;
    width: max-content;
    text-align: center;
    transform: translateX(-50%);
}

.stepper{
    background-color: rgb(7, 3, 44);
    height: 100vh;
}