<section class="stepper  d-flex align-items-center ">
    .
    <div class="card  my-4 w-75 m-auto  ">
         <mat-stepper > 
            <mat-step label="torism type" state="chat">
                <div class="text-center mt-2"> 
                    <img src="../../../../assets/images/Frame 2.png">
                </div>
                <div class="checkbox-container my-4">
                    <div class="row">
                        <div class="col-md-4">
                          <label class="checkbox-label">
                            <input type="radio" name="category" [(ngModel)]="selectedCategory" value="Historical"> Historical
                        </label>
                        <label class="checkbox-label">
                            <input type="radio" name="category" [(ngModel)]="selectedCategory" value="Adventure"> Adventure
                        </label>
                        <label class="checkbox-label">
                            <input type="radio" name="category" [(ngModel)]="selectedCategory" value="Custom"> Custom
                        </label>
                        
                        </div>
                        <div class="col-md-4">
                          <label class="checkbox-label">
                            <input type="radio" name="category" [(ngModel)]="selectedCategory" value="Luxury"> Luxury
                        </label>
                        <label class="checkbox-label">
                            <input type="radio" name="category" [(ngModel)]="selectedCategory" value="General"> General
                        </label>
                        <label class="checkbox-label">
                            <input type="radio" name="category" [(ngModel)]="selectedCategory" value="Cruise"> Cruise
                        </label>
                        
                        </div>
                       
                    </div>
                    
                   
                    
                  
                </div>
                <div>
                  
                  <button mat-button matStepperNext  class="next-btn">Next</button>
                </div>
              </mat-step>
      
            
              <mat-step label="Duration" state="chat">
                <div class="step-content">
                  <div class="m-2">
                    <img src="../../../../assets/images/How long do you plan to stay in Egypt_.png">
                  </div>
                  <input type="number" class="w-75 rounded mt-5" [(ngModel)]="duration" [min]="1" [max]="10">
                  <div class="buttons-container">
                    <button mat-button class="back-btn" matStepperPrevious>BACK</button>
                    <button mat-button class="next-btn" matStepperNext>NEXT</button>
                  </div>
                </div>
              </mat-step>
              
              <mat-step label="Budget" state="chat">
                <div class="step-content">
                  <div class=" m-2"> 
                    <img src="../../../../assets/images/What is your budget for the trip_.png">
                    
                </div>
                <div class="range-container  w-50 m-5  ">
                </div>
                <input  type="number" class="w-75 rounded  " [(ngModel)]="rangeValue"  [min]="100" [max]="2000">
                <div>
                </div>
                
                <div class="buttons-container">
                  <button mat-button matStepperPrevious class="back-btn">Back</button>
                  <button mat-button matStepperPrevious class="next-btn" (click)="openConfirmDialog()">Finish</button>
                </div>
                
                </div>
              
              </mat-step>
           
            Icon overrides.
            <ng-template matStepperIcon="edit">
              <mat-icon>check</mat-icon>
            </ng-template>
            
            <ng-template matStepperIcon="done">
              <mat-icon>check</mat-icon>
            </ng-template>
            
            <ng-template matStepperIcon="number">
              <mat-icon>check</mat-icon>
            </ng-template>
            
          </mat-stepper> 
    </div>
  
</section>
