.bd {
//    background-color: rgb(57, 49, 128);
   background-image: url('../../../../assets/images/tayara.jpeg');
    background-size: cover;  /* This ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    height: 100vh; /* Full height of the viewport */
    width: 100%; /* Full width of the viewport */
    
}
.main-color{
    background-color:  rgb(207, 170, 47);
}
