<section class="bd">
    <div class="text-center d-flex align-items-center h-50 justify-content-center">
        <img src="../../../../assets/images/Welcome to Your Personalized Tourism Experience!.png" class="w-50 ">
    </div>
 <div class="text-center mb-3">
    <img src="../../../../assets/images/We’re here to help you explore Egypt in the way that suits you best.Would you like to answer a few questions to personalize your experience, or skip directly to the main page_.png" class="w-50">
 </div>
 <div class="d-flex  mt-4 justify-content-center ">
    <button class="m-3 rounded px-4 py-2 border-0 bg-white text-secondary" routerLink="/auth/login">skip and start now</button>
    <button class="m-3 rounded px-4 py-2 border-0 main-color text-secondary" routerLink="/stteper">start answering questions</button>
 </div>
</section>
