<div>
    <img [src]="placedetails.pictureUrl" class="header-img">
    <h1 class="position-absolute top-50 font  text-white shadow-lg ">{{placedetails.name}}</h1>
    <!-- <p class="position-absolute top-5 font2  text-white ">{{placedetails.description}}</p> -->
</div>


<div class="container mt-5">

    <h2>Activities you can't miss:</h2>
    <div class="row g-4" >
        <div class="col-md-3"  *ngFor="let item of place ">
            <a class="card custom-card" >
                <img class="card-img-top custom-img" [src]="item.pictureUrl" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                
                </div>
            </a>
        </div>
    </div>
    <h2>Nearby  Resturants :</h2>
    <div class="row g-4" >
        <div class="col-md-3"  *ngFor="let item of resturants ">
            <a class="card custom-card" >
                <img class="card-img-top custom-img" [src]="item.pictureUrl" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                
                </div>
            </a>
        </div>
    </div>
</div>
