<div class="container-fluid vh-100 d-flex align-items-center p-0">
  <div class="row w-100 m-0">
    <div
      class="col-12 d-flex justify-content-center align-items-center bg-image"
    >
      <div class="form-container p-4 rounded-5 p-5 shadow-lg">
        <div class="logo text-center">
          <img src="../../../../assets/images/SAFARNY.png" />
        </div>

        <h3 class="login-text text-white mt-4">Sign Up</h3>
        <form [formGroup]="regform"  (ngSubmit)="whenregister(regform)">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="first Name" class="form-label text-white">first Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="name"
                  formControlName="firstName"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="lastName" class="form-label text-white">last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="lastName"
                  formControlName="lastName"
                />
              </div>
            </div>
          </div>
         <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="userName" class="form-label text-white">user Name</label>
              <input
                type="text"
                class="form-control"
                id="userName"
                placeholder="userName"
                formControlName="userName"
              />
            </div></div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="email" class="form-label text-white">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="user@example.com"
                  formControlName="email"
                />
              </div>
            </div>
          </div>
        
      

         <div class="row">
          <div class="col-md-6"> 
             <div class="mb-3">
            <label for="nationality" class="form-label text-white">nationality</label>
            <input
              type="nationality"
              class="form-control"
              id="nationality"
              placeholder="nationality"
              formControlName="nationality"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4 position-relative">
            <label for="password" class="form-label text-white">Password</label>

            <input
              [type]="isHide ? 'password' : 'text'"
              class="form-control"
              id="password"
              placeholder="Password"
              formControlName="password"
            />
            <a class="pss-icon" (click)="isHide = !isHide">
              <i
                class="fa-solid"
                [class]="isHide ? 'fa-eye-slash' : ' fa-eye'"
              ></i
            ></a>
          </div>
        </div>
         </div>
         
         
         

          
          <div class="mb-4 position-relative">
            <label for="confirmPassword" class="form-label text-white">confirm Password</label>

            <input
              [type]="isHide ? 'password' : 'text'"
              class="form-control"
              id="password"
              placeholder="confirm Password"
              formControlName="confirmPassword"
            />
            <a class="pss-icon" (click)="isHide = !isHide">
              <i
                class="fa-solid"
                [class]="isHide ? 'fa-eye-slash' : ' fa-eye'"
              ></i
            ></a>
          </div>
          <button type="submit" class="btn btn-color w-100 mb-4">
            Sign Up
          </button>

          <p class="text-center mb-4 have-account">
            you already have an account?
            <a [routerLink]="['../login']" class="login-link">Login</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
