<app-hero></app-hero>
<section>
  <h2 class="mx-5">GET READY FOR THE EXPERIENCE OF A LIFETIME:</h2>
<div class="container">

    <section>

       
         <div class="row">
            <div class="col-md-4" *ngFor="let item of categories"> 
                 <div class="card" >
            <img class="image"  [style.backgroundImage]="'url(' + item.image + ')'" [src]="item.image">
            <div class="title">{{ item.title }}</div>
          </div></div></div>
          
        
          
    </section>
    <section class="mt-5">
       <div class="row mx-3">
        <div class="col-md-5">
         
            <img src="../../../../assets/images/image2.png" class="w-100  ">
        </div>
       
<div class="col-md-5 ">
     <div class="card p-4 position-relative cards1  ">
   
   
      <h2 class="cardh2">Egypt Package Tours</h2>
      <p>
        Our Egypt Package Tours are designed around a range of travel styles, themes, lengths, and
        languages, so we aim to have something for everyone.
      </p>
      <ul>
        <li>Egypt Package Tours</li>
        <li>Overnight & Short Egypt Tour Packages</li>
        <li>Private Tours in Egypt</li>
      </ul>
      <button>EGYPT PACKAGE TOURS  <i class="fa-solid fa-arrow-right fa-lg" style="color: #fcfcfd;"></i></button>
    </div>
  </div>
</div>
   
<div class="row mt-5">
    <div class="col-md-5">
        <div class="card p-4 cards2">
           
              <h2 class="cardh2">Tourist Egypt Tours</h2>
              <p>
                A variety of Egypt tours, designed by our team of experts, offering a unique way to explore and experience Egypt.
              </p>
              <ul>
                <li>Tours To Cairo</li>
                <li>Tours To The Pyramids</li>
                <li>Tours To Sinai</li>
              </ul>
              <button> <i class="fa-solid fa-arrow-left fa-lg" style="color: #fcfcfc;"></i> TOURIST EGYPT TOURS</button>
            </div>
          </div>
      <div class="col-md-5">
        <img src="../../../../assets/images/image.png" class="w-100">
      </div>
    </div>

    <div class="row m-5">
        <div class="col-md-5">
            <img src="../../../../assets/images/image3.png" class="w-100  ">
        </div>
       
<div class="col-md-5 ">
     <div class="card p-4   cards3">
   
   
      <h2 class="cardh2">Hotels</h2>
      <p>
        Book your Egypt Hotels with Tourist Egypt and take advantage of our selection of the country’s best places to stay, many with special benefits.
      </p>
      <ul>
        <li>Hotels in Cairo</li>
        <li>Hotels in Luxor</li>
        <li>Hotels in Red Sea</li>
      </ul>
       
      <button>TOURIST EGYPT HOTELS  <i class="fa-solid fa-arrow-right fa-lg" style="color: #fcfcfd;"></i></button>
    </div>
  </div>
</div>
    
    
 

    </section>
    <section>
      <div class="row travel-container">
        <!-- Left Column: Text Content -->
        <div class="col-md-5 text-content ">
          <h3>Visit Egypt</h3>
          <h1>Plan Your Trip with Us</h1>
          <p>
            Egypt is one of the most historical places on the Earth. With its ancient
            history and natural beauties, Egypt is the place that everyone has on
            their bucket list. Join us and embark on a trip for a lifetime!
          </p>
          <ul>
            <li>🌟 Explore Ancient Ruins & Tombs</li>
            <li>🏖️ Have fun on the most beautiful beaches</li>
            <li>🌍 Experience a culture like no other</li>
          </ul>
          <button class="plan-button">PLAN YOUR TRIP NOW</button>
        </div>
      
        <!-- Right Column: Image -->
        <div class="col-md-7  image-content ">
          <img src="../../../../assets/images/image 2 (1).png" alt="Egypt Illustration" />
        </div>
      </div>
      
    </section>
    <section>
      <section class="why-travel-container">
        <div class="container">
          <!-- Header Section -->
          <div class="text-center mb-5">
            <h2>WHY TRAVEL WITH US?</h2>
            <p>It should be obvious, but we'll say it anyway</p>
          </div>
      
          <!-- Features Section -->
          <div class="row g-3">
            <!-- Feature 1 -->
            <div class="col-md-3 mx-5 text-center feature-box">
              <div class="icon">
                <img src="../../../../assets/images/image 6.png" alt="Customer Service Icon" />
              </div>
              <h6 >
                Our booking and customer service team is available 7 days a week to
                advise, help or just chat
              </h6>
            </div>
      
            <!-- Feature 2 -->
            <div class="col-md-3  text-center feature-box">
              <div class="icon">
                <img src="../../../../assets/images/image 7.png" alt="Best Price Icon" />
              </div>
              <h6>Tours & packages are best price guaranteed</h6>
            </div>
      
            <!-- Feature 3 -->
            <div class="col-md-3 mx-5 text-center feature-box">
              <div class="icon">
                <img src="../../../../assets/images/image 8.png" alt="Secure Icon" />
              </div>
              <h6>
                Our website is secure and we look after all personal details as if
                they are our own
              </h6>
            </div>
      
            <!-- Feature 4 -->
            <div class="col-md-3 mx-5 text-center feature-box">
              <div class="icon">
                <img src="../../../../assets/images/bus.png" alt="Vehicles Icon" />
              </div>
              <h6>
                All vehicles are safe, modern and air conditioned (except for camels,
                where ridden)
              </h6>
            </div>
      
            <!-- Feature 5 -->
            <div class="col-md-3 text-center feature-box">
              <div class="icon">
                <img src="../../../../assets/images/image 10.png" alt="License Icon" />
              </div>
              <h6>All guides have a government license (of course)</h6>
            </div>
      
            <!-- Feature 6 -->
            <div class="col-md-3 mx-5 text-center feature-box">
              <div class="icon">
                <img src="../../../../assets/images/image 11.png" alt="Support Icon" />
              </div>
              <h6>We have 24/7 support for emergencies</h6>
            </div>
          </div>
        </div>
      </section>
      
    </section>
  </div>

</section>


