<app-categ-page [pageHeader]="pageHeader" [pageMainList]="ancients" />

<!-- <header class="header">
  <div class="header__img">
    <h1 class="heading-primary mb-5">Ancient Egypt</h1>
    <p class="header__text">
      Ancient Egypt, a civilization that thrived for over three millennia,
      continues to captivate the imagination of the modern world. Known for its
      impressive architectural feats, profound cultural richness, and pioneering
      contributions to human knowledge.
    </p>
  </div>
</header>

<main class="main">
  <ul class="region-cards">
    <li *ngFor="let ancient of ancients">
      <figure class="region-card">
        <img [src]="ancient.imgPath" />
        <p>{{ ancient.title }}</p>
      </figure>
    </li>
  </ul>
</main>

<footer>
  <ul class="page-numbers">
    <li>
      <a class="selected" href="#">1</a>
    </li>
    <li>
      <a href="#">2</a>
    </li>
    <li>
      <a href="#">&rarr;</a>
    </li>
  </ul>
</footer> -->
