  .custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}